form(ng-submit="submit()")
    fieldset
        legend Connexion
        .form-control
            label(for="username")
            input#username(ng-model="username")
        .form-control
            label(for="password")
            input#password(ng-model="password" type="password")
        input(type="submit" value="Connexion")